div {
    margin: 10px;
    height: 200px;
    border: 1px solid black;
}
.espaco-1 {
    background: linear-gradient(90deg, red, yellow)
}
.espaco-2 {
    background-image: url(image/fundo.jpg);
    background-size: 100% 100%;
}
.espaco-3 {
    background-image: url(image/outro_fundo.jpg);
    background-repeat: repeat-x;
}