.letra-italico {
    font-size: italic;
}
.letra-espessura {
    font-weight: bold;
}
.letra-transformada-minuscula {
    text-transform: lowercase;
}
.letra-transformada-maiuscula {
    text-transform: uppercase;
}
.letra-tranformada-capitalizada {
    text-transform: capitalize;
}
.letra-sublinhada {
    text-decoration: underline;
}
.letra-rasurada {
    text-decoration: line-through;
}
.letra-com-linha-superior {
    text-decoration: overline;
}
.letra-decoracao-1 {
    text-decoration: underline green;
}
.letra-decoracao-2 {
    text-decoration: underline wavy red;
}
.letra-decoracao-3 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
.estilo-de-letra {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-size: 22px;
    text-decoration: line-through underline dashed blueviolet;
}
/************************************************/
h1 {
    font-family: Arial;
}
.sombra-1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.sombra-2 {
    text-shadow: 3px 3px 3px rgba(255, 0, 155, .7);
}
.sombra-3 {
    text-shadow: 2px 3px 3px rgba(211, 188, 191, .4),
                 3px 4px 4px rgba(0, 141, 0, .5),
                 4px 5px 5px rgba(222, 0, 0, .5);
}